<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<div class="container">
    <div class="main">
        <div class="center-box">
            <img src="https://res.cloudinary.com/doiyb9hon/image/upload/v1701529751/prxxgskv8yxbw4jspaeh.png"
                class="img">
            <h5 class="header">ONLINE BOOK SHOPPING</h5>
        </div>
        <div class="Middle-box">
            <div class="login">
                <a mat-button class="button" routerLink="Log" routerLinkActive="active-color" style="color: grey;">LOGIN</a>
                <a mat-button class="button" routerLink="signup" routerLinkActive="active-color" style="color: grey;">SIGNUP</a>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>