<div class="container">
    <div class="main">
        <form [formGroup]="forgetForm" (ngSubmit)="onSubmit()">
        <div class="center-box">
            <div class="header">
                <img src="http://res.cloudinary.com/doiyb9hon/image/upload/v1701578250/iieuzs0fcxwijsjgkhx3.png"
                    class="image">
                <p class="book">Bookstore</p>
            </div>
            <div class="middle-container">
                <h2>Forgot Your Password?</h2>
                <div class="middle-box">
                    <p style="margin: 15px 50px 20px 50px; font-size: 12px;">Enter Your email address and we'll send you
                        a link to reset the password</p>
                    <div class="maininput">
                        <mat-hint class="input">Email Id</mat-hint>
                        <input type="text" class="input" style="height: 20px;" formControlName="email">
                    </div>
                    <div class="maininput">
                        <a mat-flat-button style="background-color: #A03037; color: white;"
                            class="button1" (click)="onSubmit()">Reset Password</a>
                    </div>
                    <div class="create">
                        <a mat-button href="register" routerLink="/"
                            class="button1">Create Account</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </div>

</div>
