
<h5 class="heading" routerLink="/dashboard/books">Home/My Order</h5>
<div class="mywishlistcard">
  <div class="titlefont">
    <h4 style="font-weight: 500; margin-left: 4%; margin-top: 1.5%">
      My Orders (3)
    </h4>
  </div>
  <div class="bookdetails">
    <div class="img">
      <img src="../../../assets/bookimg/91cS2KkRLNL._SY385_.jpg" class="img" alt="book" />
    </div>
    <div class="bookheader">
      Girl on the Train
      <div class="author">by Paula Hawkins</div>
      <div class="price">Rs.721</div>
      <div class="dates">
        <div class="greenbox"></div>
         Order placed on
      </div>
    </div>
  </div>
  <div class="bookdetails">
    <div class="img">
      <img src="../../../assets/bookimg/81W39vmvcZL._SY385_.jpg" class="img" alt="book" />
    </div>
    <div class="bookheader">
      Lean UX: Applying Lean Principle
      <div class="author">by jeff Gothelf</div>
      <div class="price">Rs.1920</div>
      <div class="dates">
        <div class="greenbox"></div>
         Order placed on
      </div>
    </div>
  </div>
  <div class="bookdetails">
    <div class="img">
      <img src="../../../assets/bookimg/book5.png" class="img" alt="book" />
    </div>
    <div class="bookheader">
      The Peace of Mind Book 2
      <div class="author">by Mikkell Khan</div>
      <div class="price">Rs.891</div>
      <div class="dates">
        <div class="greenbox"></div>
         Order placed on
      </div>
    </div>
  </div>
</div>
