<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<div class="container">
    <form [formGroup]="ResetForm" (ngSubmit)="onSubmit()">
    <div class="main">
        <div class="center-box">
            <div class="header">
                <img src="http://res.cloudinary.com/doiyb9hon/image/upload/v1701578250/iieuzs0fcxwijsjgkhx3.png"
                    class="image">
                <p class="book">Bookstore</p>
            </div>
            <div class="middle-container">
                <h2>Forgot Your Password?</h2>
                <div class="middle-box">
                    <p style="margin: 15px 50px 20px 50px; font-size: 12px;">Enter Your email address and we'll send you
                        a link to reset the password</p>
                    <div class="maininput">
                        <mat-hint class="input">New Password</mat-hint>
                        <div class="password-input input">
                            <input [type]="hide ? 'password' : 'text'" class="input-field" formControlName="passwordnew">
                            <button class="visibility-button" (click)="toggleVisibility()">
                              <i class="fa" [ngClass]="hide ? 'fa-eye-slash' : 'fa-eye'"></i>
                            </button>
                          </div>
                    </div>
                    <div class="maininput">
                        <mat-hint class="input">Confirm Password</mat-hint>
                        <div class="password-input input">
                            <input [type]="hide ? 'password' : 'text'" class="input-field" formControlName="passwordconfirm">
                            <button class="visibility-button" (click)="toggleVisibility()">
                              <i class="fa" [ngClass]="hide ? 'fa-eye-slash' : 'fa-eye'"></i>
                            </button>
                          </div>
                    </div>
                    <div class="maininput">
                        <a mat-flat-button style="background-color: #A03037; color: white;"
                            class="button1" (click)="onSubmit()">Submit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</div>
