.container {
    height: auto;
    width: auto;
}

.main {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: whitesmoke;
}

.center-box {
    width: 150vh;
    height: 80vh;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.header {
    height: 7vh;
    width: 150vh;
    background-color: #A03037;
    display: flex;
    flex-direction: row;
}

.book {
    margin-top: 10px;
    font-size: 20px;
    color: white;
}

.image {
    margin-left: 100px;
    margin-top: 10px;
    height: 20px;
    width: 20px;
}

.middle-box {
    width: 350px;
    height: 250px;
    outline: 1px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
}

.middle-container {
    width: 150vh;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //  background-color: green;
}

.maininput {
    margin-top: 3%;
}

.input {
    width: 230px;
    margin-left: 15%;
    outline: #0A0102;
}

.button1 {
    width: 240px;
    margin-left: 15%;
    outline: #0A0102;
}
.create{
    margin-top: 5%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E4E4E4;
    background-color: whitesmoke;
}.maininput2 {
    padding-top: 5%;
    position: relative;
  }
  
  .password-input {
    position: relative;
    display: inline-block;
  }
  
  .input-field {
    height: 20px;
    padding-right: 30px; 
    width: 200px;
  }
  
 
.visibility-button {
    position: absolute;
    top: 50%;
    left: 210px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }
