<div class="main">
    <img class="image" src="../../../assets/orderplaced.gif">
    <p class="content">Hurray!!! Your Order is Confirmed the Order id is #1 Save the order id for further communication</p>
    <table>
        <thead>
          <tr>
            <th>Email us</th>
            <th>Contact us</th>
            <th>Address</th>
          </tr>
        </thead>
        <tbody>
            <tr>
            <td>shrey@bookstore.com</td>
            <td>+91 8754388740</td>
            <td class="address">House no: 6A, 2nd street, Jai hind nagar, Gummidipoondi, Chennai, TamilNadu -601201</td>
          </tr>
        </tbody>
      </table>
      <a mat-flat-button href="dashboard/books" color="primary" class="shopping">Continue Shopping</a>
</div>
