.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.image{
    width: 30%;
    height: 30%;
}
.content{
    width: 354px;
height: 66px;
/* UI Properties */
text-align: center;
font: normal normal normal 18px/22px Lato;
letter-spacing: 0px;
color: #333232;
opacity: 1;
}
table {
    width: 751px;
height: 112px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #DCDCDC;
opacity: 1;
  }

  th, td {
    width: 20%;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  .address{
    text-align: left;
  }

  th {
    background-color: #f2f2f2;
  }
  .shopping{
    margin-top: 20px;
  }
